:root {
  --bg-color: rgb(30, 30, 30);
  --card-color: rgb(40, 40, 40);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: center;
  gap: 4px;
}

#cards:hover > .card > .card-border {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;
}

.card::before,
.card > .card-border {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  /* transition: opacity 500ms; */
  z-index: 2;
}

.card:hover::before {
  opacity: 1;
}

.card::before {
  background: radial-gradient(
    100px circle at var(--mouse-x) var(--mouse-y),
    rgb(255, 255, 255, 0.05),
    transparent 100%
  );
  z-index: 3;
}

.card > .card-border {
  background: radial-gradient(
    50px circle at var(--mouse-x) var(--mouse-y),
    #ffffff80,
    transparent 100%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: 1px;
  position: relative;
  z-index: 2;
}
